extends layout

block content
  doctype html
  html(lang='en')
  link(rel='stylesheet', href='../styles/word.css', type='text/css')
  head
        nav.navbar.background
          ul.nav-list
            .logo
              img(src='images/mountain.png')
            li
              a.active(href='/') COLLECTIONS
            li
              a.active(href='/profile') PROFILE
            li
              a.active(href='/About') ABOUT US
          .centerNav
            input#search(type='text', name='search')
            button.btn.btn-sm SEARCH
    
  body
    h1 About NFT Mountain
    .split
      .side
        .image-block 
          img.img-logo(src='images/NFT-mountain.png')
        .row 
          .column
            .card 
              img.team(src='images/pfp.jpg')
              h1 Santiago Marin Suarez
              p Founder
              p.text Some text that describes me lorem ipsum ipsum lorem.
              p.text santiagomarinsuarez@me.com
              p
                button.button Contact
      .main
        h2 GOAL
        p.text
          | The goal of this project is to create the ultimate tool for NFT traders. Some of the features that I want to include are:
        ul.text
          li Get real time data for trending and minting collections.
          li Detailed graphs and analytics for every single collection.
          li Accurate rarity tools.
          li Sniping.
          li Mass linsting and mass buying.
          li Wallet balance checker. 
          li Wallet tracker.
          li Community buy tracker.
          li Wallet portfolio.
          li And more…
          
        br
        h2 TRENDING COLLECTIONS
        p.text
          |  This page will include the collections that are trending and minting at the moment. There are going to be timestamps from (1min, 5min, 10min, 15,min, 30min, 1hr, 4hr, 12hr, 1day, 7 days, 30 days, 90 days, all time) in terms of floor price, volume, average price, sales, mintings, and listings. Also apart from the timestamps there are going to be (1 day changes and 7 days changes in terms of floor price, owners, supply, and market cap). You would be able to select favorite collections to follow and get notifications on the changes throughout the day. There will be a search bar to check the desired collection as well as ethereum price and gwi for gas.
        br
        h2 PROFILE 
        p.text 
          |  On this page, the user can connect his wallet to see a chart on his portfolio. In this section you can see the collections you own and how they are progressing with live charts. It will have one chart with the total value of your portfolio as well as independent charts for the projects that you own (same timestamps as the homepage for each collection). It will show the NFTs that are listed, an estimated value, cost, realized profit, and unrealized profit for the entire portfolio. For each independent collection there are going to be similar stamps like the ones previously mentioned such as (NFTs acquired, purchased, holding, sold, transferred, total cost including gas, total gas paid, avg price, total revenue, avg sale price, OS floor price, unrealized profit, realized profit, break even price, potential profit, and potential ROI%).
        h2 COLLECTION PAGE 
        p.text 
          |  This page will be specific to every project. It will display an analysis and statistics of the project with live charts about the floor price, volume, sales, listings, holders, market cap, top owners, etc. Information about the project and socials such as: twitter, discord, opensea, website, etc. In this page there will also be a section with the live sales and listings with ranking where you can snipe the NFT you want to buy. There are going to be mass listings and mass buying for the collection with a special feature that will skip the nfts that have a pending transaction, to prevent a transaction from failing. It will show the royalties that the project has and the gwi for the gas. 

    .footer
      p.text 
        | ETH price:
  


