extends layout

block content
  doctype html
  html(lang='en')
  link(rel='stylesheet', href='../styles/word.css', type='text/css')
  head
        nav.navbar.background
          ul.nav-list
            .logo
              img(src='images/mountain.png')
            li
              a.active(href='/') COLLECTIONS
            li
              a.active(href='/profile') PROFILE
            li
              a.active(href='/About') ABOUT US
          .centerNav
            input#search(type='text', name='search')
            button.btn.btn-sm SEARCH
    
  body
    h1 NFT Mountain
    table#collections
      tbody
        tr
          th COLLECTION NAME
          th FLOOR PRICE
          th 1D CHANGE
          th 7D CHANGE
          th "x" MIN/HRS VOLUME
          th 1D VOLUME
          th 7D VOLUME
          th OWNERS
          th SUPPLY 
          th MKT CAP
        tr
          td test
          td test
          td test
          td test
          td test
          td test
          td test
          td test
          td test
          td test
        tr
          td test
          td test
          td test
          td test
          td test
          td test
          td test
          td test
          td test
          td test
        tr
          td test
          td test
          td test
          td test
          td test
          td test
          td test
          td test
          td test
          td test
        tr
          td test
          td test
          td test
          td test
          td test
          td test
          td test
          td test
          td test
          td test
        tr
          td test
          td test
          td test
          td test
          td test
          td test
          td test
          td test
          td test
          td test
        tr
          td test
          td test
          td test
          td test
          td test
          td test
          td test
          td test
          td test
          td test
        tr
          td test
          td test
          td test
          td test
          td test
          td test
          td test
          td test
          td test
          td test
        tr
          td test
          td test
          td test
          td test
          td test
          td test
          td test
          td test
          td test
          td test
        tr
          td test
          td test
          td test
          td test
          td test
          td test
          td test
          td test
          td test
          td test
    footer 
      .footer
        p.footer-text 
          | ETH price:
