extends layout
block content
  doctype html
  html(lang='en')
  link(rel='stylesheet', href='../styles/word.css', type='text/css')
  head
        nav.navbar.background
          ul.nav-list
            .logo
              img(src='images/mountain.png')
            li
              a.active(href='/') COLLECTIONS
            li
              a.active(href='/profile') PROFILE
            li
              a.active(href='/About') ABOUT US
          .centerNav
            input#search(type='text', name='search')
            button.btn.btn-sm SEARCH
  body  
    table#stats 
          tbody 
            tr 
              th WALLET:
              th TOTAL COLLECTIONS:
              th LISTED: 
              th ESTIMATED VALUE:
              th COST:
              th REALIZED PROFIT: 
              th UNREALIZED PROFIT:
            tr 
              td 0x3964B8d796c6a8d10d45afCFB7dF76D3c11825a3
              td 17
              td 0/17
              td 2.5007
              td .3929
              td 2.1078
              td 0.187
    
    .split
      .side
        h2 PORTFOLIO VALUE
          p.text live chart here 
        table#collections
            tbody
              tr
                th COLLECTION
                th FLOOR
                th VALUE
                th LISTED
              tr
                td test
                td test
                td test
                td test

              tr
                td test
                td test
                td test
                td test

              tr
                td test
                td test
                td test
                td test
              tr
                td test
                td test
                td test
                td test
              tr
                td test
                td test
                td test
                td test
      .main
        h2 ITEMS
          table#collections
            tbody
              tr
                th TOTAL
                th RARITY
                th LIST PRICE
                th TOP BID
                th COST
                th RECIEVED DATE
              tr
                td test
                td test
                td test
                td test
                td test
                td test

              tr
                td test
                td test
                td test
                td test
                td test
                td test

              tr
                td test
                td test
                td test
                td test
                td test
                td test
              tr
                td test
                td test
                td test
                td test
                td test
                td test
              tr
                td test
                td test
                td test
                td test
                td test
                td test
              tr
                td test
                td test
                td test
                td test
                td test
                td test
              tr
                td test
                td test
                td test
                td test
                td test
                td test
              tr
                td test
                td test
                td test
                td test
                td test
                td test
              tr
                td test
                td test
                td test
                td test
                td test
                td test
  footer 
    .footer
      p.footer-text 
        | ETH price:
